<button
  type="button"
  class="tile"
  [ngClass]="{
    'tile--hidden': tile.state === 'hidden',
    'tile--visible': tile.state === 'visible',
    'tile--matched': tile.state === 'matched'
  }"
  [disabled]="tile.state === 'matched'"
  (click)="handleSelect()"
>
  <ng-container *ngIf="isRevealed; else hiddenTile">
    <ng-container [ngSwitch]="cardKind">
      <img
        *ngSwitchCase="'image'"
        [src]="imageUrl || ''"
        [alt]="imageAlt || ''"
        loading="lazy"
      />
      <div
        *ngSwitchCase="'markdown'"
        class="tile__markdown"
        [innerHTML]="markdownContent"
      ></div>
      <div
        *ngSwitchDefault
        class="tile__unsupported"
      >
        Unsupported card content
      </div>
    </ng-container>
  </ng-container>
  <ng-template #hiddenTile>
    <span class="hidden-mark" aria-hidden="true">?</span>
  </ng-template>
</button>
